* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  position: relative;
}

.navLink.active {
  color: crimson;
  border: 1px solid crimson;
}



/* toggle bar */
.toggleBar {
  transition: all 0.3s ease;
}

.toggleBar::before {
  position: absolute;
  content: '';
  top: -0.6rem;
  right: 0;
  height: 2.4px;
  width: 28px;
  background: orange;
  transition: all 0.3s ease;
}

.toggleBar::after {
  position: absolute;
  content: '';
  top: 0.6rem;
  right: 0;
  height: 2.4px;
  width: 28px;
  background: orange;
  transition: all 0.3s ease;
}

.toggler.active .toggleBar {
  background: transparent;
  transform: rotate(40deg);
}

.toggler.active .toggleBar::before {
  transform: rotate(-85deg);
  top: 0;
}

.toggler.active .toggleBar::after {
  transform: rotate(5deg);
  top: 0;
}